<h1>Moje Todo</h1>
<mat-icon class="icons">lock_open</mat-icon>
<mat-icon class="icons success">lock_open</mat-icon>
<mat-divider></mat-divider>
<div *ngIf=" !(loading$ | async) ; else loading">
  <div class="todo-list">
    <ng-container *ngFor="let todo of todos$ | async">
      <app-todo-card-item></app-todo-card-item>
    </ng-container>

  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<button (click)="addTodo()">AAdd-działa</button>
<button (click)="delete()">delll</button>

<div class="add-btn">
  <button color="primary" mat-fab (click)="add()">Add</button>
</div>
