.todo-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.add-btn{
  position: fixed;
  bottom: 20px;
  right: 20px;
}


.icons{
  background: #e50800;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success{
  background: #6aa929;
}
